h2 {
  flex-basis: 100%;
}

#badges {
  position: absolute;
  top: 4em;
  right: 4em;
  display: flex;
  align-items: center;
}

#badges img {
  width: 15em;
  max-height: 15em;
  margin: auto 0.5em;
}

section.banner {
  height: 800px;
}

section#user-stories .thumbnails {
  height: 400px;
}

section#video iframe {
  margin: 1em 0;
  display: block;
}

@media (max-width: 1080px) {
  #badges {
    position: initial;
  }

  #badges img {
    width: 3em !important;
  }

  #badges img[src="/images/fog-2025.png"] {
    width: 5em !important;
  }

  section#video iframe {
    width: 100%;
  }

  section {
    height: unset !important;
  }

  section .thumbnails {
    height: unset !important;
    flex-flow: column;
  }

  section {
    padding: 2em;
  }

  section.banner {
    padding: 2em 1em;
  }
}
