h2 {
  flex-basis: 100%;
}

#badges {
  position: absolute;
  top: 4em;
  right: 4em;
  display: flex;
}

#badges img {
  width: 15em;
  max-height: 15em;
}

section.banner {
  height: 800px;
}

section#user-stories .thumbnails {
  height: 400px;
}

section#video iframe {
  margin: 1em 0;
  display: block;
}

@media (max-width: 1080px) {
  #badges {
    position: static;
    z-index: 2;
    display: flex;
    justify-content: end;
    width: 100%;
  }

  #badges img {
    width: 10em;
    max-height: 10em;
  }

  section#video iframe {
    width: 100%;
  }

  section {
    height: unset !important;
  }

  section .thumbnails {
    height: unset !important;
    flex-flow: column;
  }

  section {
    padding: 2em;
  }

  section.banner {
    padding: 1em 0 2em 0;
  }
}
