html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form {
  width: 24em;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 2em;
  text-align: center;
}

form input {
  text-align: center;
  margin: 0.5em 0;
  font-size: 1.2em !important;
  padding: 0.5em;
  width: 100%;
}

form button {
  font-size: 1.2em !important;
  padding: 0.5em 1.3em;
  color: var(--the-white);
  background-color: var(--the-green);
  margin: 0.7em auto;
}

p {
  margin: auto;
  font-size: 1.2em;
  text-align: center;
}
