p.status {
  padding: 1em 2em;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 2px;
  text-align: center;
}

p.error {
  padding: 1em 2em;
  background-color: #f4e1e1;
  color: #9d3939;
  border-radius: 2px;
  text-align: center;
}

p.warn {
  padding: 1em 2em;
  background-color: #fef6d5;
  color: #9d6439;
  border-radius: 2px;
  text-align: center;
}
