<section class="banner"
         style="background-image: url(/images/photos/about_page_picture.jpg);">
  <h1>About</h1>
</section>

<section>
  <p>
    Energy Access Explorer is an online, open-source, interactive
    platform that uses mapping to visualize the state of energy access
    in unserved and underserved areas. It analyzes credible and public
    data to make the connection between the demand and supply of
    energy.  Individuals can create custom analyses on Energy Access
    Explorer to identify and prioritize areas where energy markets can
    be expanded.
  </p>

  <p>
    Energy Access Explorer brings together and visualizes public data
    sets on both electricity supply and demand. The tool uses current,
    location-specific resource availability and infrastructure data to
    represent energy supply. Energy Access Explorer also incorporates
    demographic and socio-economic data to visualize demand. Together,
    these supply and demand indicators enable more comprehensive
    energy planning.
  </p>

  <p>
    Who are the primary audiences of Energy Access Explorer?
  </p>

  <ul>
    <li><strong>Off-grid developers</strong> can use the platform to
      access demographic and socio-economic data, which indicate
      consumer ability to pay for electricity. This information can
      help identify gaps in market opportunities.</li>
    <li><strong>Electrification planning agencies</strong> can use
      the platform to explore the potential for grid extension,
      off-grid systems and renewables for energy access in their
      countries.</li>
    <li><strong>Impact investors </strong>and donors can use the
      platform to identify areas that need funding to meet
      development goals on energy access, education and more.</li>
  </ul>

  <p>
    World Resources Institute is committed to transparency and open
    data. The data and methodology behind Energy Access Explorer are
    documented and available for download. All the products,
    methodologies and datasets that make up Energy Access Explorer are
    available for free use under the Creative Commons CC BY 4.0
    license.
  </p>

  <p>
    Energy Access Explorer is a research initiative led by World
    Resources Institute. Partners and local stakeholders contribute to
    the development and update of the platform.  To learn more about
    Energy Access Explorer or provide feedback, contact our team at
    {{> email}}.
  </p>
</section>

{{> partners-section}}
