<style>
  blockquote {
    border-left: 5px solid gray;
    margin-left: 0;
    padding-left: 1em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 3em;
  }

  .note {
    margin-left: 2em;
    color: darkgray;
  }
</style>

<section>
  <h2>Attribution Requirements</h2>

  <p>
    The Energy Access Explorer (EAE) is an open source, dynamic, geospatial
    information system and research initiative conceptualized and developed by World
    Resources Institute.
  </p>

  <p>
    If you wish to refer to, adopt or use EAE’s concept, EAE’s framework and
    methods, EAE’s open-source code, data available or analysis carried out on
    EAE, <b>you are required to cite visibly to the end-user</b>
  </p>

  <ul>
    <li>
      <blockquote>
        “EAE’s open-source code available at
        <a href="https://github.com/energyaccessexplorer">github.com/energyaccessexplorer</a>. For attribution, 
        please indicate "EAE's open-source code available at <a href="https://github.com/energyaccessexplorer">github.com/energyaccessexplorer</a>
was accessed on <code>[give date]</code>”
      </blockquote>
    </li>

    <li>
      <blockquote>
        “For attributions, please include Data (specify) was accessed through
        <a href="https://www.energyaccessexplorer.org">www.energyaccessexplorer.org</a>
        on <code>[give date]</code>”
      </blockquote>
    </li>

    <li>
      <blockquote>
        “For Analysis, please indicate that Analysis was carried out using Energy Access Explorer on <code>[give date]</code>”
      </blockquote>
    </li>


    <li>
      <blockquote>
        “For the methodology, please cite Mentis D., Odarno L., Wood D., Jendle F., Mazur E., Qehaja A., Gassert
        F., 2019” “Technical Note: Energy Access Explorer - Data and Methods”
      </blockquote>
    </li>
  </ul>
</section>
