<style>
  #blogs-publications > div {
    display: flex;
    background-color: #FAFAFA;
    justify-content: start;
    margin: 1em auto;
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
  }

  .blog-date {
    font-size: 0.6em;
    color: darkgray;
    text-transform: uppercase;
  }

  #blogs-publications > div > .h {
    color: var(--the-green);
    text-transform: uppercase;
    width: 10em;
    font-size: 0.7em;
  }

  .blog-content {
    border-left: 1px solid black;
    padding: 0.5em 2em;
  }

  #blogs-publications p {
    max-width: unset;
    width: 36em;
    padding-right: 2em;
  }

  .blog-image {
    background-size: cover;
    width: 10em;
    height: 7em;
  }
</style>

<section id="blogs-publications">
  <h2>Relevant Blogs and Publications</h2>

  <div onclick="window.open('https://www.wri.org/news/release-energy-access-explorer-receives-2023-group-earth-observations-sustainable-development', '_blank');">
    <div class="h">Award</div>

    <div class="blog-content">
      <div class="blog-date">November, 2023</div>
      <p>Energy Access Explorer is the 2023 Winner of the Prestigious GEO for SDGs Award</p>
    </div>
  </div>

  <div onclick="window.open('https://www.wri.org/update/energy-access-explorer-climate-friendly-and-viable-energy-transitions', '_blank');">
    <div class="h">Project Update</div>

    <div class="blog-content">
      <div class="blog-date">May, 2023</div>
      <p>6 Ways Energy Access Explorer 2.0 Can Deliver Climate-friendly and Viable Energy Transitions</p>
    </div>
  </div>



<div onclick="window.open('https://www.wri.org/research/gis-assessment-electricity-health-care-uganda', '_blank');">
    <div class="h">Technical note</div>

    <div class="blog-content">
      <div class="blog-date">May, 2023</div>
      <p>A GIS-Based Demand Assessment Methodology To Estimate Electricity Requirements for Health Care Facilities: A Case Study for Uganda</p>
    </div>
  </div>

  <div onclick="window.open('https://www.wri.org/update/using-metas-relative-wealth-index-and-high-resolution-population-density-data-help-expand', '_blank');">
    <div class="h">Project Update</div>

    <div class="blog-content">
      <div class="blog-date">May, 2023</div>
      <p>Using Meta’s Relative Wealth Index and High Resolution Population Density Data to Help Expand Electricity Access in Uganda</p>
    </div>
  </div>

  <div onclick="window.open('https://www.wri.org/insights/new-nexus-approach-powering-development', '_blank');">
    <div class="h">Commentary</div>

    <div class="blog-content">
      <div class="blog-date">February 4, 2020</div>
      <p>A New Nexus Approach to Powering Development</p>
    </div>
  </div>

  <div onclick="window.open('https://energypedia.info/wiki/Data_Mapping_on_the_Productive_Uses_of_Energy_(PUE)_For_Agriculture_Can_Help_Mitigate_Existing_Climatic_and_Socio-Economic_Challenges_in_Drought_Affected_Counties_%E2%80%93_A_Kenya_Case_Study#Background', '_blank');">
    <div class="h">Article</div>

    <div class="blog-content">
      <div class="blog-date">June, 2020</div>
      <p>Data Mapping on the Productive Uses of Energy (PUE) For Agriculture Can Help Mitigate Existing Climatic and Socio-Economic Challenges in Drought Affected Counties – A Kenya Case Study</p>
    </div>
  </div>

  <div onclick="window.open('https://ethiopianmonitor.com/2023/02/17/how-can-geospatial-data-and-analytics-ensure-energy-access-for-all-in-ethiopia/ ', '_blank');">
    <div class="h">Blog</div>

    <div class="blog-content">
      <div class="blog-date">February, 2023</div>
      <p>How Can Geospatial Data and Analytics Ensure ‘Energy Access for All’ in Ethiopia? </p>
    </div>
  </div>

  <div onclick="window.open('https://data.org/stories/energy-access-explorer/', '_blank');">
    <div class="h">Impact Story</div>

    <div class="blog-content">
      <div class="blog-date">June, 2023</div>
      <p>How WRI’s Energy Access Explorer Empowers Inclusive Data-driven Solutions</p>
    </div>
  </div>

  <div onclick="window.open('https://wri-india.org/blog/how-can-energy-access-explorer-support-jharkhands-development-objectives', '_blank');">
    <div class="h">Blog</div>

    <div class="blog-content">
      <div class="blog-date">December, 2021</div>
      <p>How Can Energy Access Explorer Support Jharkhand’s Development Objectives?</p>
    </div>
  </div>

  <div onclick="window.open('https://www.downtoearth.org.in/blog/energy/a-tool-that-identifies-gaps-makes-energy-access-a-reality-85026', '_blank');">
    <div class="h">Blog</div>

    <div class="blog-content">
      <div class="blog-date">September, 2022</div>
      <p>A tool that identifies gaps, makes energy access a reality</p>
    </div>
  </div>

  <div onclick="window.open('https://www.mott.org/news/articles/digital-platform-could-increase-access-to-modern-energy-services-in-africa/', '_blank');">
    <div class="h">Blog</div>

    <div class="blog-content">
      <div class="blog-date">April, 2022</div>
      <p>Digital platform could increase access to modern energy services in Africa</p>
    </div>
  </div>

  <div onclick="window.open('https://sun-connect.org/geospatial-data-can-help-investors-prioritize-energy-access-investments-to-build-more-resilient-communities/', '_blank');">
    <div class="h">Blog</div>

    <div class="blog-content">
      <div class="blog-date">February, 2022</div>
      <p>Geospatial data can help investors prioritize energy access investments to build more resilient communities</p>
    </div>
  </div>

  <div onclick="window.open('https://sun-connect.org/reliable-data-to-power-the-clean-energy-transition-in-zambia/', '_blank');">
    <div class="h">Blog</div>

    <div class="blog-content">
      <div class="blog-date">December, 2021</div>
      <p>Reliable data to power the clean energy transition in Zambia</p>
    </div>
  </div>

  <div onclick="window.open('https://www.wri.org/insights/integrated-energy-access-plans-kenya', '_blank');">
    <div class="h">Insights</div>

    <div class="blog-content">
      <div class="blog-date">July, 2021</div>
      <p>Integrated Planning Helps Kenya Close its Energy Access Gap</p>
    </div>
  </div>

  <div onclick="window.open('https://www.wri.org/insights/millions-east-africans-who-need-electricity-most-data-shows-renewable-energy-viable-and', '_blank');">
    <div class="h">Insights</div>

    <div class="blog-content">
      <div class="blog-date">September, 2019</div>
      <p>For the Millions of East Africans Who Need Electricity Most, Data Shows Renewable Energy Is a Viable – and Affordable – Solution</p>
    </div>
  </div>

  <div onclick="window.open('https://theshinecampaign.org/eae-wri/', '_blank');">
    <div class="h">Blog</div>

    <div class="blog-content">
      <div class="blog-date">July, 2020</div>
      <p>Energy Access Explorer - A data driven tool to ensure strategic clean energy access</p>
    </div>
  </div>

  <div onclick="window.open('https://www.wri.org/publication/energy-access-explorer-data-and-methods', '_blank');">
    <div class="h">Technical note</div>

    <div class="blog-content">
      <div class="blog-date">September, 2019</div>
      <p>Energy Access Explorer: Data and Methods</p>
    </div>
  </div>
</section>
