<section id="contact-section">
  <h2>Contact</h2>

  <form id="contact-form">
    <input type="text" placeholder="name">
    <input type="email" placeholder="email">
    <textarea placeholder="message"></textarea>

    <button type="submit">Send</button>
  </form>

  <div id="contact-email-note">
    *You can send us a email to <a href="mailto:energyaccessexplorer@wri.org">energyaccessexplorer@wri.org</a>
  </div>
</section>
