<link href="/stylesheets/password-form.css" rel="stylesheet">

<link href="/stylesheets/status-p.css" rel="stylesheet">

<style>
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  main {
    text-align: center;
  }

  p {
    margin: auto;
    padding: 4em;
    display: none;
  }

  form {
    padding-top: 0;
  }
</style>

<p>
  Email confirmed. Lets set your password.
</p>

<section id="reset-password-request" style="display: none;"></section>

<span style="display: none;">
{{> password-reset-reset-password}}
</span>

<script type="module">
  document.addEventListener('DOMContentLoaded', function() {
    const main = document.querySelector('main');

    const url = new URL(location);
    const email = url.searchParams.get('email')
    const uuid = url.searchParams.get('uuid');
    const world = 'eae';

    if (!email || !uuid) window.location = '/login';

    fetch(atob("aHR0cHM6Ly9ub29wLm51L2F1dGgvZW1haWwtY29uZmlybWF0aW9u"), {
	  "method": 'POST',
	  "headers": {
	    'Content-Type': 'application/json;charset=utf-8;'
	  },
	  "body": JSON.stringify({ world, email, uuid })
    })
      .catch(err => ({ "ok": false, "status": 0 }))
      .then(async r => {
        const p = document.querySelector('main p');
        const s = document.querySelector('#reset-password');

        if (!r.status)
          p.innerHTML = "Something went wrong...";
        else if (!r.ok)
          p.innerHTML = "Error: " + (await r.text());

        p.style.display = 'block';

        s.parentElement.style.display = r.ok ? 'block' : 'none';
      });
  });
</script>

<script src="/javascripts/password-reset.js" type="module"></script>
