<section>
  <h2>Q: Is this really a question?</h2>

  <p>
    A: Depends. It was a sample of a queston... And this is a sample of an
    answer. This <code>&lt;section&gt;</code> block should be commented and used as a
    template.
  </p>

  <p>
    Another paragraph with the contact: {{> email}}
  </p>
</section>
