<footer>
  <div>
    <img id="footer-wri-logo"
         src="/images/logos/WRI_logo_box_k_preview.png"
         alt="World Resources Institute">

    <div>
      <p>
        <strong>World Resources Institute</strong>
        <br><br>
        10 G St NE, Suite 800, Washington, DC 20002, USA
        <br><br>
        Phone: +1 (202) 729-7600 | Fax: +1 (202) 720-7610
        <br><br>
        {{> email}}

        <br><br><br>
        <a href="/privacy-policy">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
