<style>
  section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  section > div{
    margin: 2em;
  }

  button {
    background-color: var(--the-green);
  }

  button a {
    color: white !important;
  }

  h3 {
    padding: 0;
  }
</style>

<section class="banner"
         style="background-image: url({{> s3bucket}}/photos/84a99663c7272731880fe110d65397f6.jpg);">
  <h1>Get Involved</h1>

  <h3>Use data to drive change in your community and around the world.</h3>
</section>

<section>
  <div>
    <h3>Contribute Data</h3>

    <p>
      Have newer or more comprehensive data? Extend the reach and
      impact of your data sets by contributing to Energy Access
      Explorer.
    </p>

    <p>
      Contact us at ​{{> email}}
    </p>
  </div>

  <div>
    <h3>Submit a Story</h3>

    <p>
      Have you used Energy Access Explorer to further your impact
      on energy access? Tell us about how you did it by submitting
      a story.
    </p>

    <p>
      <button class="pop-hover">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfwAm2Mfr8JB3XyQU4M_xAjQimq0TqHkSaeoeY_m5p-oAt4Sw/viewform">Submit a story</a>
      </button>
    </p>
  </div>

  <div>
    <h3>Register to My EAE</h3>

    <p>
      Complete the form below to view My EAE with your saved analysis, receive
      occasional Energy Access Explorer updates, which may include information
      about new datasets, project updates, energy access newsletters, and energy
      access events.
    </p>

    <p>
      <button class="pop-hover">
        <a href="/subscribe/?select=mailing">Register</a>
      </button>
    </p>
  </div>
</section>

<section>
  <p style="text-align: center;">
    Please submit questions, comments or feedback to
    {{> email}}.
  </p>
</section>
