<link href="/stylesheets/index.css" rel="stylesheet">
<link href="/stylesheets/thumbnails.css" rel="stylesheet">

<section class="banner"
         style="background-image: url({{> s3bucket}}/photos/4271331030_b70c27cea8_b.jpg);">
  <div id="badges">
    <img src="/images/2023AwardsSeal.png">
  </div>

  <h1>Energy Access Explorer</h1>

  <h3>
    An interactive online platform mapping the state of energy access in underserved areas across Africa and Asia.
  </h3>

  <div id="buttons">
    <button><a href="/tool/s">Explore Data</a></button>
  </div>
</section>

<section id="video">
  <h2>Tutorial Videos</h2>

  <div class="thumbnails">
    <iframe width="525" height="290" src="https://www.youtube-nocookie.com/embed/Giht5Mmboa8" frameborder="0" allow="encrypted-media" allowfullscreen=""></iframe>
    <iframe width="525" height="290" src="https://www.youtube-nocookie.com/embed/j5eKuooycw8" frameborder="0" allow="encrypted-media" allowfullscreen=""></iframe>
  </div>
</section>

{{> blog-publications}}
