<link href="/stylesheets/index.css" rel="stylesheet" />
<link href="/stylesheets/thumbnails.css" rel="stylesheet" />

<section class="banner"
         style="background-image: url(/images/photos/4271331030_b70c27cea8_b.jpg);">
  <h1>Energy Access Explorer</h1>

  <h3>
    Energy Access Explorer provides the data and tools necessary to
    create a future where all people have access to affordable,
    reliable and modern energy.
  </h3>

  <button class="pop-hover" style="font-size: 1em;"><a href="/maps-and-data/countries">Explore Data</a></button>
</section>

<section id="user-stories">
  <h2>User Stories</h2>

  <div class="thumbnails">
    <div class="thumbnail thumbnail-med pop-hover"
         style="background-image: url(/images/photos/4271331728_f1486cc127_b.jpg);"
         onclick="window.location = '/user-stories#planning';">
      <h3>Strategic&nbsp;Energy&nbsp;Planning</h3>
    </div>

    <div class="thumbnail thumbnail-med pop-hover"
         style="background-image: url(/images/photos/get_involved_page_pic1.PNG);"
         onclick="window.location = '/user-stories#market';">
      <h3>Market&nbsp;Identification</h3>
    </div>

    <div class="thumbnail thumbnail-med pop-hover"
         style="background-image: url(/images/photos/get_involved_page_pic2.PNG);"
         onclick="window.location = '/user-stories#investment';">
      <h3>Investment&nbsp;for&nbsp;Impact</h3>
    </div>
  </div>
</section>

<section id="blogs-publications">
  <h2>Relevant Blogs and Publications</h2>

  <div class="thumbnails">
    <div class="thumbnail thumbnail-small pop-hover"
         onclick="window.open('https://www.wri.org/publication/tanzania-mini-grids', '_blank');"
         style="background-image: url(/images/photos/user_stories_picture2.jpg);">
      <h3>Report</h3>

      <p>Lessons from Tanzania: Accelerating Mini-grid Development in Sub-Saharan Africa</p>
    </div>

    <div class="thumbnail thumbnail-small pop-hover"
         onclick="window.open('https://www.inclusivebusiness.net/ib-voices/open-tools-and-data-are-quintessential-inform-decision-making-energy-field', '_blank');"
         style="background-image: url(/images/photos/4271332050_b6f636683b_b.jpg);">
      <h3>Blog</h3>

      <p>Open tools and data are quintessential to inform decision-making in the energy field</p>
    </div>

    <div class="thumbnail thumbnail-huge pop-hover"
         onclick="window.open('https://www.wri.org/publication/strategies-access-electricity', '_blank');"
         style="background-image: url(/images/photos/9271377331_50f71581fd_b.jpg);">
      <div>
      <h3>Working paper</h3>

      <br><br>

      <p>
        Strategies for expanding universal access to electricity services for development
      </p>
      </div>
    </div>
  </div>
</section>

{{> partners-section}}
