<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{> base}}/images/EAE Logo_Emblem.svg">

    <link href="{{> base}}/stylesheets/style.css" rel="stylesheet">
    <link href="{{> base}}/stylesheets/banner.css" rel="stylesheet">
    <link href="{{> base}}/stylesheets/main.css" rel="stylesheet">
    <link href="{{> base}}/stylesheets/nav.css" rel="stylesheet">
    <link href="{{> base}}/stylesheets/partners.css" rel="stylesheet">
    <link href="{{> base}}/stylesheets/footer.css" rel="stylesheet">

    <title>Energy Access Explorer</title>

    <script src="{{> base}}/javascripts/google.js"></script>

    {{> head}}
  </head>

  <body>
    {{> nav}}

    <main>
<!-- CONTENT-STARTS -->
{{{content}}}
<!-- CONTENT-ENDS -->
    </main>

    {{> footer}}

    <script src="{{> base}}/javascripts/cookie.js" type="module"></script>
  </body>
</html>
