<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/lib/cookie-notice.js"></script>

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/banner.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/nav.css" rel="stylesheet">
    <link href="/stylesheets/partners.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">

    <title>Energy Access Explorer</title>

    <script src="/javascripts/google.js"></script>
  </head>

  <body>
    {{> nav}}

    <main>
<!-- CONTENT-STARTS -->
{{{content}}}
<!-- CONTENT-ENDS -->
    </main>

    {{> footer}}

    <script src="/javascripts/cookie.js"></script>
  </body>
</html>
