<link href="{{> base}}/stylesheets/password-form.css" rel="stylesheet">

<style>
  p:last-child {
    padding: 0 0 4em;
  }
</style>

<script src="{{> base}}/lib/login.js"></script>

<script type="module">
  import flash from "{{> base}}/lib/flash.js";

  const flashy = new flash();

  function account() {
    const p = document.createElement('p');
    p.id = 'reg';

    const a = document.createElement('a');
    p.innerText = "Don't have an account? Create one ";
    a.innerText = "here";
    a.href = "{{> base}}/subscribe/?select=account";

    p.append(a);

    return p;
  };

  function password() {
    const p = document.createElement('p');

    const a = document.createElement('a');
    a.innerText = "Forgot password?";
    a.href = "{{> base}}/password-reset";

    p.append(a);

    return p;
  };

  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('body > main').append(
      login_setup({
        "server": atob("aHR0cHM6Ly9ub29wLm51L2F1dGg="),
        "world": "eae",
        "submit_text": "Login",
        "success": _ => window.location = "{{> base}}/tool/s/",
        "error": m => flashy.push(m)
      }),
      account(),
      password(),
    );
  });
</script>
