<script src="/lib/login.js"></script>

<style>
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  form {
    width: 24em;
    margin: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
  }

  form input {
    text-align: center;
    margin: 0.5em 0;
    font-size: 1.2em !important;
    padding: 0.5em;
    width: 100%;
  }

  form button {
    font-size: 1.2em !important;
    padding: 0.5em 1.3em;
    color: var(--the-white);
    background-color: var(--the-green);
    margin: 0.7em auto;
  }
</style>

<script type="module">
  import flash from "/lib/flash.js";

  const flashy = new flash();

  document.addEventListener('DOMContentLoaded', _ => {
    document.querySelector('body > main').append(
      login_setup({
        "server": atob("aHR0cHM6Ly9ub29wLm51L2F1dGg="),
        "world": "ea",
        "submit_text": "Login",
        "success": _ => window.location = "/tool/s/",
        "error": m => flashy.push(m)
      }));
  });
</script>
