<link href="/stylesheets/methodology.css" rel="stylesheet" />

<section class="banner"
         style="background-image: url(/images/photos/methodology_page_pic1.jpg);">
  <h1>Methodology</h1>
</section>

<section>
  <p>
    Energy Access Explorer provides more than 20 geographic datasets
    related to both the supply and demand sides of energy access
    (see Figure 1).  These datasets were collected from
    publicly-available sources and fall into the following
    categories: demographics, socio-economic activities, energy
    resource availability and infrastructure. Proxy indicators are
    used as a substitute for income to determine individuals’
    ability to pay for electricity services in many countries due to
    a lack of publicly-available socio-economic data.Spatial
    analysis tools, including overlays, filters and buffer zones,
    help identify and prioritize areas where energy access markets
    can be expanded.
  </p>

  <p>
    The tool will help users develop visual representations of
    energy access based on the criteria they define. Users apply
    filters, set buffer zones, and weigh the importance of data to
    create custom analyses. The tool uses these settings to create
    two energy access indices. The Energy Access Potential Index
    shows where there is both existing and potential demand and
    supply. The Assistance Need Index shows where there is an
    existing supply of electricity, but customers are not able to
    pay for it. Using these indices, stakeholders can identify
    energy markets, create more inclusive electrification plans and
    direct funds to the areas that need it most.  See Technical Note
    for more detailed methodology.
  </p>

  <figure style="flex: unset; width: 100%;">
    <figcaption>Figure 1: Methodological Flowchart of Energy Access Explorer</figcaption>
  </figure>
</section>
