<nav>
  <input id="toggle"
         class="no-desktop"
         type="checkbox">

  <label for="toggle" class="no-desktop">
    <svg style="width:24px;height:24px" viewBox="0 0 24 14">
      <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </label>

  <a id="energy-access-link"
     href="/">
    Energy Access Explorer
  </a>

  <div id="navigation-links">
    <a href="/maps-and-data/select"
       class="toggleable">
      Maps&nbsp;&amp;&nbsp;Data
    </a>

    <a href="/methodology"
       class="toggleable">
      Methodology
    </a>

    <a href="/user-stories"
       class="toggleable">
      User&nbsp;Stories
    </a>

    <a href="/about"
       class="toggleable">
      About
    </a>

    <a href="/get-involved"
       class="toggleable">
      Get Involved
    </a>
  </div>
</nav>

<script>
  (function() {
    var links = document.querySelectorAll('nav #navigation-links a');

    for (var l of links) {
      if (location.pathname.match(new RegExp(l.getAttribute('href'))))
        l.classList.add("active");
    }
  })();
</script>
