<nav>
  <input id="toggle"
         class="no-desktop"
         type="checkbox">

  <label for="toggle" class="no-desktop">
    <svg style="width:24px;height:24px" viewBox="0 0 24 14">
      <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </label>

  <a id="energy-access-link"
     href="{{> base}}/">
    <img src="{{> base}}/images/EAE Logo_Horizontal White.svg"
         style="width: 280px; margin-top: 4px;">
  </a>

  <div id="navigation-links">
    <a href="{{> base}}/tool/s"
       class="toggleable">
      Tool
    </a>

    <a href="{{> base}}/about"
       class="toggleable">
      About
    </a>

    <a href="{{> base}}/get-involved"
       class="toggleable">
      Get Involved
    </a>

    <a href="{{> base}}/user-stories"
       class="toggleable">
      User Stories
    </a>

    <a href="{{> base}}/partners"
       class="toggleable">
      Partners
    </a>
  </div>
</nav>

<script src="{{> base}}/javascripts/nav.js"></script>
