<section class="banner"
         style="background-image: url({{> s3bucket}}/photos/9271377331_50f71581fd_b.jpg);">
  <h1>Our Partners</h1>

  <h3>We collaborate with other institutions</h3>
</section>

<section id="partners">
  <div>
    <div class="logo">
      <a title="World Resources Insitute"
         href="https://www.wri.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/wri.png">
      </a>
    </div>

    <div class="logo">
      <a title="Energy Sustaintable Development"
         href="http://www.energy-gis.ug/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/energy-sustainable-development.png">
      </a>
    </div>

    <div class="logo">
      <a title="eed Advisory"
         href="http://www.eedadvisory.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/eed.png">
      </a>
    </div>

    <div class="logo">
      <a title="East African Centre for Renewable Energy and Energy Efficiency"
         href="https://www.eacreee.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/eacreeee.png">
      </a>
    </div>

    <div class="logo">
      <a title="Cafod"
         href="https://cafod.org.uk/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/cafod.png">
      </a>
    </div>

    <div class="logo">
      <a title="International Institute for Environment and Development"
         href="https://www.iied.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/iied.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Energy Agency"
         href="http://www.rea.go.tz/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/rural-energy-agency.png">
      </a>
    </div>

    <div class="logo">
      <a title="Traditional Energy Development"
         href="https://www.tatedo.or.tz/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/tatedo.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry Of Energy And Mineral Development"
         href="http://www.energyandminerals.go.ug"
         target="_blank">
        <img src="{{> s3bucket}}/logos/MEMD_new.png">
      </a>
    </div>

    <div class="logo">
      <a title="Power for All"
         href="http://www.powerforall.org"
         target="_blank">
        <img src="{{> s3bucket}}/logos/powerforall.png">
      </a>
    </div>

    <div class="logo">
      <a title="Sustaintable Energy for All"
         href="https://www.seforall.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/sustaintable.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tanzania Electric Supply Company Limited"
         href="http://www.tanesco.co.tz/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/tanesco.png">
      </a>
    </div>

    <div class="logo">
      <a title="Mott Foundation"
         href="https://www.mott.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/mott.png">
      </a>
    </div>

    <div class="logo">
      <a title="Oak Foundation"
         href="http://www.oakfnd.org"
         target="_blank">
        <img style="width: 4em;" src="{{> s3bucket}}/logos/oakfnd.svg">
      </a>
    </div>

    <div class="logo">
      <a title="Ikea Foundation"
         href="https://www.ikeafoundation.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/ikea.png">
      </a>
    </div>

    <div class="logo">
      <a title="Good Energies Foundation"
         href="https://www.goodenergies.org"
         target="_blank">
        <img src="{{> s3bucket}}/logos/good-energies-logo.png">
      </a>
    </div>

    <div class="logo">
      <a title="UKaid"
         href="https://www.ukaiddirect.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/ukaid2.png">
      </a>
    </div>

    <div class="logo">
      <a title="3M"
         href="https://www.3m.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/3M.png">
      </a>
    </div>

    <div class="logo">
      <a title="Stichting Doen"
         href="https://www.doen.nl/en"
         target="_blank">
        <img src="{{> s3bucket}}/logos/stichtingDoen.png">
      </a>
    </div>

    <div class="logo">
      <a title="The World Health Organization"
         href="https://www.who.int/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/who.png">
      </a>
    </div>

    <div class="logo">
      <a title="United Nations Industrial Development Organization"
         href="https://www.unido.org"
         target="_blank">
        <img style="height: 4em;" src="{{> s3bucket}}/logos/unido.svg">
      </a>
    </div>

    <div class="logo">
      <a title="United Nations Development Programme"
         href="https://www.undp.org/"
         target="_blank">
        <img style="height: 4em;" src="{{> s3bucket}}/logos/undp.png">
      </a>
    </div>

    <div class="logo">
      <a title="United Nations Children's Fund"
         href="https://www.unicef.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/unicef.png">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Transmission Company"
         href="https://www.uetcl.com/"
         target="_blank">
        <img style="max-width: 12em;" src="{{> s3bucket}}/logos/uetcl.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Electrification Agency"
         href="http://www.rea.or.ug/"
         target="_blank">
        <img style="max-width: 12em;" src="{{> s3bucket}}/logos/rural-electrification-agency.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Umeme"
         href="https://www.umeme.co.ug/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/umeme.svg">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Generation Company Limited"
         href="https://uegcl.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/uegcl.gif">
      </a>
    </div>

    <div class="logo">
      <a title="Deutsche Gesellschaft für Internationale Zusammenarbeit"
         href="https://www.giz.de/en/worldwide/310.html"
         target="_blank">
        <img src="{{> s3bucket}}/logos/giz.gif">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Distribution Company Limited"
         href="http://www.uedcl.co.ug/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/uedcl.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Africa Clean Energy Technical Assistance Facility"
         href="https://www.ace-taf.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/ACE_logo.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tetra Tech"
         href="https://www.tetratech.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/tetratech.png">
      </a>
    </div>

    <div class="logo">
      <a title="Government of Zambia"
         href="https://www.moe.gov.zm/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/GovZMB.png">
      </a>
    </div>

    <div class="logo">
      <a title="Government of Ethiopia - Ministry of Water and Energy"
         href="https://mowe.gov.et/en"
         target="_blank">
        <img src="{{> s3bucket}}/logos/MoWE.png">
      </a>
    </div>

    <div class="logo">
      <a title="The World Bank"
         href="https://www.worldbank.org/en/home"
         target="_blank">
        <img src="{{> s3bucket}}/logos/worldbankgroup.png">
      </a>
    </div>

    <div class="logo">
      <a title="KTH Royal Institute of Technology"
         href="https://www.kth.se/en"
         target="_blank">
        <img src="{{> s3bucket}}/logos/kth.png">
      </a>
    </div>

    <div class="logo">
      <a title="Duke University - Energy Access Project"
         href="https://energyaccess.duke.edu/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/duke_eap.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Fondazione Eni Enrico Mattei"
         href="https://www.feem.it/en/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/FEEM.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="eGuide"
         href="https://eguide.io/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/eGuide.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Clean Cooking Alliance"
         href="https://cleancookingalliance.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/cca.png">
      </a>
    </div>

    <div class="logo">
      <a title="Strathmore University"
         href="https://www.strathmore.edu/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/strathmore.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tanzania Renewable Energy Association"
         href="https://tarea-tz.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/TAREA_logo.png">
      </a>
    </div>

    <div class="logo">
      <a title="UK PACT"
         href="https://www.ukpact.co.uk/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/UKPACT2.png">
      </a>
    </div>

    <div class="logo">
      <a title="SNV"
         href="https://snv.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/SNV.png">
      </a>
    </div>

    <div class="logo">
      <a title="Narok County Government"
         href="https://narok.go.ke/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/NarokLogo.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Health Republic of Uganda "
         href="https://www.health.go.ug/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/MoH-HID.png">
      </a>
    </div>

    <div class="logo">
      <a title="International Institute for Applied Systems Analysis"
         href="https://iiasa.ac.at/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/IIASA.png">
      </a>
    </div>

    <div class="logo">
      <a title="Politecnico di Milano"
         href="https://www.polimi.it/en"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/POLIMI.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Centre for Research in Energy and Energy Conservation"
         href="https://www.creec.or.ug/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/CREEC.png">
      </a>
    </div>

    <div class="logo">
      <a title="Makerere University"
         href="https://www.mak.ac.ug/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/makerereuniv.png">
      </a>
    </div>

    <div class="logo">
      <a title="UNHCR"
         href="https://www.unhcr.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/unhcr.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Kartoza"
         href="https://kartoza.com/about"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/Kartoza.png">
      </a>
    </div>

    <div class="logo">
      <a title="Clean Cooking Association of Kenya"
         href="https://ccak.or.ke/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/CCAK.png">
      </a>
    </div>

    <div class="logo">
      <a title="International Energy Agency"
         href="https://www.iea.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/IEA.png">
      </a>
    </div>

    <div class="logo">
      <a title="Government of Makueni County"
         href="https://makueni.go.ke/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/Makueni.jfif">
      </a>
    </div>

    <div class="logo">
      <a title="Kenya Power"
         href="https://www.kplc.co.ke/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/KenyaPower.png">
      </a>
    </div>

    <div class="logo">
      <a title="Burn"
         href="https://www.burnstoves.com/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/burn.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Electrification and Renewable Energy Corporation - Kenya"
         href="http://www.rerec.co.ke/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/REREC.png">
      </a>
    </div>

    <div class="logo">
      <a title="Kenya Renewable Energy Association"
         href="https://kerea.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/KEREA.png">
      </a>
    </div>

    <div class="logo">
      <a title="Climate Compatible Growth"
         href="https://climatecompatiblegrowth.com/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/CCG.png">
      </a>
    </div>

    <div class="logo">
      <a title="Energy and Petroleum Regulatory Agency - Kenya"
         href="https://www.epra.go.ke/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/EPRA.jfif">
      </a>
    </div>

    <div class="logo">
      <a title="Sustainable Energy Technical Assistance"
         href="https://www.seta-kenya.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/seta.png">
      </a>
    </div>

    <div class="logo">
      <a title="Modern Energy Cooking Services"
         href="https://mecs.org.uk/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/mecs.png">
      </a>
    </div>

    <div class="logo">
      <a title="We Care Solar"
         href="https://wecaresolar.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/wecaresolar.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ethiopian Electric Power"
         href="https://www.eep.com.et/en/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/EEP.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ethiopian Electric Utility"
         href="http://www.ethiopianelectricutility.gov.et/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/EEU.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Health - Ethiopia"
         href="https://www.moh.gov.et/site/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/MoH.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Education - Ethiopia"
         href="https://moe.gov.et/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/MoE.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Planning and Development - Ethiopia"
         href="https://mopd.gov.et/en/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/MoPD.png">
      </a>
    </div>

    <div class="logo">
      <a title="Agricultural Transformation Institute - Ethiopia"
         href="https://www.ata.gov.et/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/ATI.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ethiopian Statistical Service"
         href="https://www.statsethiopia.gov.et/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/ESS.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Industry - Ethiopia"
         href="https://moi.gov.et/en"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/MoI.png">
      </a>
    </div>

    <div class="logo">
      <a title="Petroleum and Energy Authority - Ethiopia"
         href="www.pea.gov.et"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/PEA.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Irrigation and Lowlands - Ethiopia"
         href="https://www.mills.gov.et/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/MILLs.png">
      </a>
    </div>

    <div class="logo">
      <a title="Addis Ababa University-College of Development Studies"
         href="http://www.aau.edu.et/cds/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/AAU.png">
      </a>
    </div>

    <div class="logo">
      <a title="Assam Energy Development Agency"
         href="https://aeda.assam.gov.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/AEDA.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Assam Power Distribution Company Limited"
         href="https://www.apdcl.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/APDCL_assam.png">
      </a>
    </div>

    <div class="logo">
      <a title="Assam Science Technology & Environment Council"
         href="https://astec.assam.gov.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/ASTEC-assam.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Government of Nagaland"
         href="https://nagaland.gov.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/nagaland.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Investment Development Authority of Nagaland"
         href="https://nagaland.gov.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/IDAN.png">
      </a>
    </div>

    <div class="logo">
      <a title="Government of Jharkhand"
         href="https://www.jharkhand.gov.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/jh.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Jharkhand Renewable Energy Development Agency"
         href="https://www.jreda.com/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/JREDA.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Jharkhand Space Applications Center"
         href="https://jsac.jharkhand.gov.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/JSAC.png">
      </a>
    </div>

    <div class="logo">
      <a title="Jharkhand State Livelihoods Promotion Society"
         href="http://www.jslps.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/JSLPS.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="National Health Mission - India"
         href="https://nhm.gov.in/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/NHM.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Energy - Tanzania"
         href="https://www.nishati.go.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/menergy_tz.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tanzania Geothermal Development Company - Tanzania"
         href="https://www.tgdc.go.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/tgdc.png">
      </a>
    </div>

    <div class="logo">
      <a title="Energy and Water Utilities Regulatory Authority - Tanzania"
         href="https://www.ewura.go.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/ewura.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Commission for Science and Technology - Tanzania"
         href="https://www.costech.or.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/COSTECH.png">
      </a>
    </div>

    <div class="logo">
      <a title="National Environment Management Council - Tanzania"
         href="https://www.nemc.or.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/nemc.png">
      </a>
    </div>

    <div class="logo">
      <a title="President’s Office Tanzania - Ministry of Regional Administration and Local Government"
         href="https://www.tanzania.go.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/PORALG.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Finance and Planning - Tanzania"
         href="https://www.mof.go.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/moFURT.jfif">
      </a>
    </div>

    <div class="logo">
      <a title="Tanzania Bureau of Standards"
         href="https://www.tbs.go.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/TBOS.png">
      </a>
    </div>

    <div class="logo">
      <a title="University of Dar es Salaam"
         href="https://www.udsm.ac.tz/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/udsm.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Energy - Zambia"
         href="https://www.moe.gov.zm/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/zmb-energy.png">
      </a>
    </div>

    <div class="logo">
      <a title="Zambia Electricity Supply Corporation"
         href="https://www.zesco.co.zm/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/zesco.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Electrification Authority - Zambia"
         href="https://rea.org.zm/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/rea-zmb.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry of Health - Zambia"
         href="https://www.moh.gov.zm/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/zmb_moh.gif">
      </a>
    </div>

    <div class="logo">
      <a title="Office for Promoting Private Power Investment - Zambia"
         href="https://www.moe.gov.zm/?page_id=2570"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/OPPPI.gif">
      </a>
    </div>

    <div class="logo">
      <a title="University of Zambia"
         href="https://www.unza.zm/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/unza.png">
      </a>
    </div>

    <div class="logo">
      <a title="Kafue Gorge Regional Training Centre"
         href="https://www.kgrtc.org.zm/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/kgrtc.png">
      </a>
    </div>

    <div class="logo">
      <a title="Nigeria Rural Electrification Agency"
         href="https://rea.gov.ng/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/Nigeria_REA.jpg">
      </a>
    </div>
  </div>
</section>
