<section id="partners">
  <div id="partners-title">Partners</div>

  <div id="partners-container">
    <div class="logo">
      <a title="World Resources Insitute"
         href="https://www.wri.org/"
         target="_blank">
        <img src="/images/logos/wri.png">
      </a>
    </div>

    <div class="logo">
      <a title="Energy Sustaintable Development"
         href="http://www.energy-gis.ug/"
         target="_blank">
        <img src="/images/logos/energy-sustainable-development.png">
      </a>
    </div>

    <div class="logo">
      <a title="eed Advisory"
         href="http://www.eedadvisory.com/"
         target="_blank">
        <img src="/images/logos/eed.png">
      </a>
    </div>

    <div class="logo">
      <a title="East African Centre for Renewable Energy and Energy Efficiency"
         href="https://www.eacreee.org/"
         target="_blank">
        <img src="/images/logos/eacreeee.png">
      </a>
    </div>

    <div class="logo">
      <a title="Cafod"
         href="https://cafod.org.uk/"
         target="_blank">
        <img src="/images/logos/cafod.png">
      </a>
    </div>

    <div class="logo">
      <a title="International Institute for Environment and Development"
         href="https://www.iied.org/"
         target="_blank">
        <img src="/images/logos/iied.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Energy Agency"
         href="http://www.rea.go.tz/"
         target="_blank">
        <img src="/images/logos/rural-energy-agency.png">
      </a>
    </div>

    <div class="logo">
      <a title="Traditional Energy Development"
         href="http://www.tatedo.org/"
         target="_blank">
        <img src="/images/logos/tatedo.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry Of Energy And Mineral Development"
         href="http://www.energyandminerals.go.ug"
         target="_blank">
        <img src="/images/logos/memd.png">
      </a>
    </div>

    <div class="logo">
      <a title="Power for All"
         href="http://www.powerforall.org"
         target="_blank">
        <img src="/images/logos/powerforall.png">
      </a>
    </div>

    <div class="logo">
      <a title="Sustaintable Energy for All"
         href="https://www.seforall.org/"
         target="_blank">
        <img src="/images/logos/sustaintable.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tanzania Electric Supply Company Limited"
         href="http://www.tanesco.co.tz/"
         target="_blank">
        <img src="/images/logos/tanesco.png">
      </a>
    </div>

    <div class="logo">
      <a title="Mott Foundation"
         href="https://www.mott.org/"
         target="_blank">
        <img src="/images/logos/mott.png">
      </a>
    </div>

    <div class="logo">
      <a title="Oak Foundation"
         href="http://www.oakfnd.org"
         target="_blank">
        <img style="width: 4em;" src="/images/logos/oakfnd.svg">
      </a>
    </div>

    <div class="logo">
      <a title="Ikea Foundation"
         href="https://www.ikeafoundation.org/"
         target="_blank">
        <img src="/images/logos/ikea.png">
      </a>
    </div>

    <div class="logo">
      <a title="Good Energies Foundation"
         href="https://www.goodenergies.org"
         target="_blank">
        <img src="/images/logos/good-energies-logo.png">
      </a>
    </div>

    <div class="logo">
      <a title="United Nations Industrial Development Organization"
         href="https://www.unido.org"
         target="_blank">
        <img style="height: 4em;" src="/images/logos/unido.svg">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Transmission Company"
         href="https://www.uetcl.com/"
         target="_blank">
        <img style="max-width: 12em;" src="/images/logos/uetcl.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Electrification Agency"
         href="http://www.rea.or.ug/"
         target="_blank">
        <img style="max-width: 12em;" src="/images/logos/rural-electrification-agency.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Umeme"
         href="https://www.umeme.co.ug/"
         target="_blank">
        <img src="/images/logos/umeme.svg">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Generation Company Limited"
         href="https://uegcl.com/"
         target="_blank">
        <img src="/images/logos/uegcl.gif">
      </a>
    </div>

    <div class="logo">
      <a title="Deutsche Gesellschaft für Internationale Zusammenarbeit"
         href="https://www.giz.de/en/worldwide/310.html"
         target="_blank">
        <img src="/images/logos/giz.gif">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Distribution Company Limited"
         href="http://www.uedcl.co.ug/"
         target="_blank">
        <img src="/images/logos/uedcl.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Strathmore University"
         href="https://www.strathmore.edu/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="/images/logos/strathmore.png">
      </a>
    </div>
  </div>
</section>
