<section id="partners">
  <div id="partners-title">Partners</div>

  <div id="partners-container">
    <div class="logo">
      <a title="World Resources Insitute"
         href="https://www.wri.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/wri.png">
      </a>
    </div>

    <div class="logo">
      <a title="Energy Sustaintable Development"
         href="http://www.energy-gis.ug/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/energy-sustainable-development.png">
      </a>
    </div>

    <div class="logo">
      <a title="eed Advisory"
         href="http://www.eedadvisory.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/eed.png">
      </a>
    </div>

    <div class="logo">
      <a title="East African Centre for Renewable Energy and Energy Efficiency"
         href="https://www.eacreee.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/eacreeee.png">
      </a>
    </div>

    <div class="logo">
      <a title="Cafod"
         href="https://cafod.org.uk/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/cafod.png">
      </a>
    </div>

    <div class="logo">
      <a title="International Institute for Environment and Development"
         href="https://www.iied.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/iied.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Energy Agency"
         href="http://www.rea.go.tz/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/rural-energy-agency.png">
      </a>
    </div>

    <div class="logo">
      <a title="Traditional Energy Development"
         href="https://www.tatedo.or.tz/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/tatedo.png">
      </a>
    </div>

    <div class="logo">
      <a title="Ministry Of Energy And Mineral Development"
         href="http://www.energyandminerals.go.ug"
         target="_blank">
        <img src="{{> s3bucket}}/logos/memd.png">
      </a>
    </div>

    <div class="logo">
      <a title="Power for All"
         href="http://www.powerforall.org"
         target="_blank">
        <img src="{{> s3bucket}}/logos/powerforall.png">
      </a>
    </div>

    <div class="logo">
      <a title="Sustaintable Energy for All"
         href="https://www.seforall.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/sustaintable.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tanzania Electric Supply Company Limited"
         href="http://www.tanesco.co.tz/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/tanesco.png">
      </a>
    </div>

    <div class="logo">
      <a title="Mott Foundation"
         href="https://www.mott.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/mott.png">
      </a>
    </div>

    <div class="logo">
      <a title="Oak Foundation"
         href="http://www.oakfnd.org"
         target="_blank">
        <img style="width: 4em;" src="{{> s3bucket}}/logos/oakfnd.svg">
      </a>
    </div>

    <div class="logo">
      <a title="Ikea Foundation"
         href="https://www.ikeafoundation.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/ikea.png">
      </a>
    </div>

    <div class="logo">
      <a title="Good Energies Foundation"
         href="https://www.goodenergies.org"
         target="_blank">
        <img src="{{> s3bucket}}/logos/good-energies-logo.png">
      </a>
    </div>

    <div class="logo">
      <a title="UKaid"
         href="https://www.ukaiddirect.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/ukaid2.png">
      </a>
    </div>

    <div class="logo">
      <a title="3M"
         href="https://www.3m.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/3M.png">
      </a>
    </div>

    <div class="logo">
      <a title="Stichting Doen"
         href="https://www.doen.nl/en"
         target="_blank">
        <img src="{{> s3bucket}}/logos/stichtingDoen.png">
      </a>
    </div>

    <div class="logo">
      <a title="The World Health Organization"
         href="https://www.who.int/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/who.png">
      </a>
    </div>

    <div class="logo">
      <a title="United Nations Industrial Development Organization"
         href="https://www.unido.org"
         target="_blank">
        <img style="height: 4em;" src="{{> s3bucket}}/logos/unido.svg">
      </a>
    </div>

    <div class="logo">
      <a title="United Nations Development Programme"
         href="https://www.undp.org/"
         target="_blank">
        <img style="height: 4em;" src="{{> s3bucket}}/logos/undp.png">
      </a>
    </div>

    <div class="logo">
      <a title="United Nations Children's Fund"
         href="https://www.unicef.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/unicef.png">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Transmission Company"
         href="https://www.uetcl.com/"
         target="_blank">
        <img style="max-width: 12em;" src="{{> s3bucket}}/logos/uetcl.png">
      </a>
    </div>

    <div class="logo">
      <a title="Rural Electrification Agency"
         href="http://www.rea.or.ug/"
         target="_blank">
        <img style="max-width: 12em;" src="{{> s3bucket}}/logos/rural-electrification-agency.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Umeme"
         href="https://www.umeme.co.ug/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/umeme.svg">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Generation Company Limited"
         href="https://uegcl.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/uegcl.gif">
      </a>
    </div>

    <div class="logo">
      <a title="Deutsche Gesellschaft für Internationale Zusammenarbeit"
         href="https://www.giz.de/en/worldwide/310.html"
         target="_blank">
        <img src="{{> s3bucket}}/logos/giz.gif">
      </a>
    </div>

    <div class="logo">
      <a title="Uganda Electricity Distribution Company Limited"
         href="http://www.uedcl.co.ug/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/uedcl.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Africa Clean Energy Technical Assistance Facility"
         href="https://www.ace-taf.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/ACE_logo.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tetra Tech"
         href="https://www.tetratech.com/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/tetratech.png">
      </a>
    </div>

    <div class="logo">
      <a title="Government of Zambia"
         href="https://www.moe.gov.zm/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/GovZMB.png">
      </a>
    </div>

    <div class="logo">
      <a title="Government of Ethiopia - Ministry of Water, Irrigation, and Electricity"
         href="http://mowie.gov.et/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/MOWIE%20logo.png">
      </a>
    </div>

    <div class="logo">
      <a title="The World Bank"
         href="https://www.worldbank.org/en/home"
         target="_blank">
        <img src="{{> s3bucket}}/logos/worldbankgroup.png">
      </a>
    </div>

    <div class="logo">
      <a title="KTH Royal Institute of Technology"
         href="https://www.kth.se/en"
         target="_blank">
        <img src="{{> s3bucket}}/logos/kth.png">
      </a>
    </div>

    <div class="logo">
      <a title="Duke University - Energy Access Project"
         href="https://energyaccess.duke.edu/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/duke_eap.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Fondazione Eni Enrico Mattei"
         href="https://www.feem.it/en/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/FEEM.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="eGuide"
         href="https://eguide.io/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/eGuide.jpg">
      </a>
    </div>

    <div class="logo">
      <a title="Clean Cooking Alliance"
         href="https://cleancookingalliance.org/"
         target="_blank">
        <img src="{{> s3bucket}}/logos/cca.png">
      </a>
    </div>

    <div class="logo">
      <a title="Strathmore University"
         href="https://www.strathmore.edu/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/strathmore.png">
      </a>
    </div>

    <div class="logo">
      <a title="Tanzania Renewable Energy Association"
         href="https://tarea-tz.org/"
         target="_blank">
        <img style="height: 4em; max-width: unset;" src="{{> s3bucket}}/logos/TAREA_logo.png">
      </a>
    </div>
  </div>
</section>
