<section id="reset-password">
  <blockquote>
    Remember: Never reuse passwords with other platforms. Always use a password manager.
  </blockquote>

  <form>
    <p>Set your new password</p>

    <input type="password"
           name="password"
           autocomplete="off"
           placeholder="password"
           required />
    <br>
    <input type="password"
           name="password_confirmation"
           autocomplete="off"
           placeholder="confirm password"
           required />

    <button type="submit">Submit</button>
  </form>

  <p class="status" style="display: none;">Password has been successfully reset</p>
  <p class="error" style="display: none;">Something went wrong :(</p>
</section>
