<link href="{{> base}}/stylesheets/password-form.css" rel="stylesheet">

<link href="{{> base}}/stylesheets/status-p.css" rel="stylesheet">

<style>
  section {
    display: none;
  }

  form p {
    margin-bottom: 2em;
  }
</style>

<section id="reset-password-request">
  <form>
    <p id="message">Fill in your Energy Access Explorer email</p>

    <input type="email"
           name="email"
           autocomplete="off"
           placeholder="email"
           required />

    <button type="submit">Submit</button>
  </form>

  <p class="status" style="display: none;">We've sent you an email with a link to reset your password</p>
  <p class="error"  style="display: none;">Something went wrong :(</p>
</section>

{{> password-reset-reset-password}}

<script src="{{> base}}/javascripts/password-reset.js" type="module"></script>
