<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center
  }

  section h1 {
    font-size: 2em;
    max-width: 25em;
    margin: 1.5em auto;
  }

  section h2 {
    max-width: 30em;
    margin: 1.5em auto;
  }

  iframe {
    width: 1024px;
    height: 1200px;
    border: none;
  }
</style>

<section>
  <iframe src="https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/uploads/Privacy%20Policy%20_%20World%20Resources%20Institute.html"></iframe>
</section>
