<script src="/tool/lib/selectlist.js"></script>

<style>
  form {
    width: 42em;
    margin: auto;
  }

  select,
  input {
	background-color: transparent;
    padding: 7px 10px;
    font-size: medium;
    border: 1px solid lightgray;
    border-radius: 2px;
    display: block;
    margin: 10px;
    width: 300px;
	box-sizing: border-box;
  }

  select:invalid,
  input:invalid {
    border: solid 1px #f59d9d !important;
  }

  p.status {
	padding: 1em 2em;
	background-color: #e1ecf4;
	color: #39739d;
	border-radius: 2px;
	text-align: center;
  }

  button[type="submit"] {
    text-align: center;
    margin: 1em;
    background-color: var(--the-green);
    color: white !important;
    text-decoration: none;
    padding: 0.9em 1.3em;
  }

  button[type="submit"]:disabled {
	opacity: 0.3;
  }

  section {
    background-color: #ffffff !important;
  }
</style>

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<section>
  <h2>Subscribe to Energy Access Explorer Updates</h2>

  <p>
    Complete the form below to receive occasional Energy Access Explorer
    updates, which may include information about new datasets, project updates,
    energy access newsletters, and energy access events.
  </p>

  <form></form>

  <script src="/javascripts/subscribe.js"></script>
</section>
