<style>
  section h2 { max-width: 30em; }
</style>

<section class="banner"
         style="background-image: url(/images/photos/25b2777d.jpg); background-position: 0 75%;">
  <h1>User Stories</h1>

  <h3>
    User stories are real life case studies that detail the ways Energy Access
    Explorer is being used to accelerate access to electricity across the world.
  </h3>
</section>

<section>
  <h2>Market Identification</h2>

  <p>
    Off grid and mini grid developers may use Energy Access Explorer
    to better assess the level of service needed. Understanding where
    their customers are likely to be located and where there is a
    concentration of demand, will help off-grid developers identify
    market opportunities.
  </p>
</section>

<section>
  <h2>Strategic Energy Planning</h2>

  <p>
    Analysts and/or decision makers within energy planning institutes
    Rural Electrification Agency, planning unit of Energy Ministry
    etc.) may use the tool to improve linking electrification and
    socio-economic development to meet the needs of the poor. Energy
    Access Explorer may complement the cost optimization planning
    tools these agencies use, to get a more bottom-up representation
    of affordability and demand. Further, Energy Access Explorer can
    serve as a database that aggregates up-to-date information. This
    can help reduce high transaction costs for data aggregation and
    sharing.
  </p>
</section>

<section>
  <h2>Investment for Impact</h2>

  <p>
    Analysts and/or decision makers within development finance
    institutions, impact investors, donors can use Energy Access
    Explorer to understand better where to most effectively channel
    funds into electrification efforts to ensure that no one is left
    behind.
  </p>
</section>
