<style>
  :target::before {
    content: "";
    display: block;
    height: 120px;
    margin: -80px 0 0;
  }
</style>

<section class="banner"
         style="background-image: url();">
  <h1>User Stories</h1>

  <h3>THIS TITLE SHOULD BE CHANGED</h3>
</section>

<section id="story-sample">
  <h2>User Story 1</h2>

  <p>
    Add text here.
  </p>

  <p>
    Add more text here.
  </p>
</section>

<!--
 !-- <section id="story-N"> change N for a simple string
 !--   <h2></h2>
 !--
 !--   <p>
 !--
 !--   </p>
 !--
 !--   <p>
 !--
 !--   </p>
 !-- </section>
  -->
