<div style="position: relative;
            padding-right: 1em;
            background-color: #333333;">
  <div style="height: 3em;
              line-height: 3.1em;
              width: 100%;
              text-align: right;
              text-transform: uppercase;
              font-family: with-serif, serif;
              font-size: 1em;
              color: #f1f1f1;">
    World Resources Institute
  </div>
</div>
